@import '../../_global';

.root {
  flex-grow: 1;
  margin: 20px 100px;
  position: relative;
}

.input {
  border-radius: 10px;
  background-color: transparent;
  padding: 10px 18px;
  border: 3px solid $gray;

  width: 100%;
}

.clear {
  content: '';
  position: absolute;
  right: 10px;
  top: 0;
  height: 100%;
  bottom: 0;
  cursor: pointer;
}

@media (max-width: 1120px) {
  .root {
    margin: 15px 10px;
  }
}
