@import '../../_global';

.types {
  display: flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  li {
    padding: 15px 33px;
    background-color: #f9f9f9;
    border-radius: 30px;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
      background-color: $dark-gray;
      color: #fff;
    }
  }

  .types_selected {
    background-color: $dark-gray;
    color: #fff;
  }

  li + li {
    margin-left: 9px;
  }
}
