@import '../../_global';

.sort {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.015em;
  position: relative;

  img {
    display: inline-block;
    margin-right: 7px;
    transform: rotateX(0deg);
    transition: 0.2s;
  }

  .img_opened {
    transform: rotateX(180deg);
  }

  .charac {
    margin-left: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    color: $orange;
    cursor: pointer;
  }

  .sort_list {
    position: absolute;
    max-height: 0;
    //opacity: 0;
    visibility: hidden;
    overflow: hidden;
    z-index: 10;
    top: calc(100% + 8px);
    right: 0;
    padding: 14px 0;
    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    transition: visibility 0.4s, max-height 0.5s;

    li {
      padding: 10px 14px;
      cursor: pointer;
      transition: 0.15s;
      transform: translateX(0);

      &:hover {
        transform: translateX(2px);
      }
    }

    .sort_selected {
      background: rgba(254, 95, 30, 0.05);
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      color: $orange;
    }
  }

  .popup_opened {
    max-height: 500px;
    //opacity: 1;
    visibility: visible;
  }
}
